<html>
<table width=100%>
<tr>
	<th ><a href="/">Home </a></th>
	<th><a href="/sensorListPage">Sensor List </a></th>
	<th><a href="/comparisons">Comparison </a></th>
</tr>
</table>
<head>
	<title>Comparisons</title>
</head>
<body>
	<h1>Comparing Sensors</h1>

<form action="" method="POST">
	{% csrf_token %}
	<h2> Select sensor 1 </h2>
		<label for="sensor1">Choose first sensor:</label>
		<select name="sensor1" id="sensor1">
			{% for s in sensors %}
			<option value={{s.sensorID}}> {{s.sensorID}} </option>
			{% endfor %}
		</select>
	<h2> Select sensor 2 </h2>
		<label for="sensor2">Choose second sensor:</label>
		<select name="sensor2" id="sensor2">
			{% for s in sensors %}
			<option value={{s.sensorID}}> {{s.sensorID}} </option>
			{% endfor %}
		</select>
	<br>
	<input type="submit" value="Submit">		
</form>
	{% if sList1 %}
	<br><br>
	<table width=100% style="text-align:center;">
		<tr>
			<th>ID</th>
			<th>Longitude</th>
			<th>Latitude</th>
			<th>Install Date</th>
			<th>Details...</th>
		</tr>
		<tr>
			<td>{{sList1.sensorID}}</th>
			<td>{{sList1.longitude}}</th>
			<td>{{sList1.latitude}}</th>
			<td>{{sList1.installDate}}</th>
			<td>
				<form method="POST" action="/sensor/">
					{% csrf_token %}
					<button class="selectButton" id="Selection" name="Selection" value={{ result.sensorID }} >More Details</button>
				</form>
			</td>	
		</tr>
	</table>
	<br><br>
	<table width=100% style="text-align:center;">
		<tr>
			<th>ID</th>
			<th>Longitude</th>
			<th>Latitude</th>
			<th>Install Date</th>
			<th>Details...</th>
		</tr>
		<tr>
			<td>{{sList2.sensorID}}</th>
			<td>{{sList2.longitude}}</th>
			<td>{{sList2.latitude}}</th>
			<td>{{sList2.installDate}}</th>
			<td>
				<form method="POST" action="/sensor/">
					{% csrf_token %}
					<button class="selectButton" id="Selection" name="Selection" value={{ result.sensorID }} >More Details</button>
				</form>
			</td>	
		</tr>
	</table>
	{%else %}
	<p> Sumbit two sensors to see comparisons</p>
	{% endif %}
</body>
</html>