{% extends 'base.html' %} 

{% block title %} Air Monitor {% endblock %}

{% block content %}

<h1 name="homePage"></h1>

<!-- Container 1: map -->
<div class="container text-center">
    
    <!-- Row 1: map title -->
    <div class="row">
        <h2 style="text-align:center; color: black;"> All Sensors on the Map </h2>
    </div>

    <!-- Row 2: map -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div id='map' style='width: 100%; height: 700px;' class="center01"> 
                <script>
                    mapboxgl.accessToken = 'pk.eyJ1IjoieGVudGVycmEiLCJhIjoiY2w0NW4wOHBzMDA3NDNrczA5bHVwaHZqbyJ9.-vV70Us_kN66fPKzCGSLxg';

                    var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v11',
                    center: [-2.0938, 57.1499 ],
                    zoom: 10,
                    });

                    var idList = {{idList}};
                    var longitudeList = {{longList}};
                    var latitudeList = {{latList}};
                    var listLength = {{lLength}};

                    var idArray = JSON.parse("[" + idList + "]");
                    var longArray = JSON.parse("[" + longitudeList + "]");
                    var latArray = JSON.parse("[" + latitudeList + "]");

                    for (let r=0; r<listLength; r++){
                        textHTML = "".concat(idArray[r])
                        textHTML1 = textHTML.concat(" >More Details</button></form>");
                        textHTML2 = '<form method="POST" action="/sensor/">{% csrf_token %}<button class="selectButton btn btn-link" id="Selection" name="Selection" value='.concat(textHTML1);
                        
                        sensorName = "Sensor".concat(" ",idArray[r])
                        sensorHTML = sensorName.concat('</h2>')
                        sensorHTML1 = '<h2>'.concat(sensorHTML)
                        
                        finalHTML = sensorHTML.concat(textHTML2)
                        popup = new mapboxgl.Popup({ offset: 25 })
                        .setHTML(finalHTML);
                        marker = new mapboxgl.Marker()
                        .setLngLat([longArray[r],latArray[r]])
                        .setPopup(popup);
                        //marker.set("name", r);
                        marker.addTo(map);
                    }
                </script>	
            </div> 
        </div>
    </div>
    
    <!-- margin between the map and the footer -->
    <br>

</div>

{% endblock %}