{% extends 'base.html' %} 

{% block title %} BME280 Sensor {% endblock %}

{% block content %}

<!-- Container 1: sensor information -->
<div class="container bg-dark my-3">
	<div class="row bg-info">
		<div class="col table-responsive"> 
			<table class="table table-striped table-bordered table-hover align-middle caption-top w-100" style="text-align: center;">
				<caption style="text-align:center; color: black;"> Sensor Information </caption>
				<thead class="table-danger">
					<tr>
						<th> Timestamp </th>
						<th> Pressure </th>
						<th> Humidity </th>
						<th> Temperature </th>
						<th> Example </th>
						<th> Example </th><th> Example </th><th> Example </th><th> Example </th><th> Example </th>
					</tr>
				</thead>
				<tbody> 
					{% for sensor in results %} 
					<tr style="text-align: center;">
						<td> {{ sensor.timestamp }} </td> 
						<td> {{ sensor.pressure }} </td>
						<td> {{ sensor.humidity }} </td>
						<td> {{sensor.temperature}} </td>
						<td> Example </td>
						<td> Example </td><td> Example </td><td> Example </td><td> Example </td><td> Example </td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}