{% extends 'base.html' %} 

{% block title %} SDS011 Sensor {% endblock %}

{% block content %}

<!-- for displaying wind direction -->
<style>
	.arrow {
	border: solid black;
	border-width: 0 8px 8px 0;
	display: inline-block;
	padding: 5px;
	}

	.angle {
	transform: rotate({{windAngle}}deg);
	-webkit-transform: rotate({{windAngle}}deg);
	}
</style>

<h1 name="SDSdetailsPage"></h1>

<!-- Container 1: Sensor location and information -->
<div class="container"> 

	<!-- Row 1: sensor information (table) -->
	<div class="row table-responsive"> 
		<caption style="text-align:center; color: black;"> <h1> Sensor Information </h1> </caption>
		<table class="table table-striped table-bordered table-hover align-middle">
			<thead class="align-middle" style="background-color: darkgreen; color: white;">
				<tr>
					<th> Sensor ID </th>
					<td>{{ sType.sensorID }}</td>
				</tr>
				<tr>
					<th> Sensor Type </th>
					<td>{{ sType.sensorType }}</td>
				</tr>
				<tr>
					<th> Longitude </th>
					<td> {{ sType.longitude }} </td>
				</tr>
				<tr>
					<th> Latitude </th>
					<td> {{ sType.latitude }} </td>
				</tr>
				<tr>
					<th> Location </th>
					<td> {{ fullLocation }} </td>
				</tr>
				<tr>
					<th> Map Location: </th>
					<td class="col d-flex align-items-center justify-content-center">
						<div id='map' style='width: 200px; height: 200px; '>
							<!-- inserting map -->
							<script>
								mapboxgl.accessToken = 'pk.eyJ1IjoieGVudGVycmEiLCJhIjoiY2w0NW4wOHBzMDA3NDNrczA5bHVwaHZqbyJ9.-vV70Us_kN66fPKzCGSLxg';
								var map = new mapboxgl.Map({
									container: 'map',
									style: 'mapbox://styles/mapbox/streets-v11',
									center: [{{sType.longitude}}, {{sType.latitude}}],
									zoom: 10,
								});
								var idList = {{idList}};
								var longitudeList = {{longList}};
								var latitudeList = {{latList}};
								var listLength = {{lLength}};
								var idArray = JSON.parse("[" + idList + "]");
								var longArray = JSON.parse("[" + longitudeList + "]");
								var latArray = JSON.parse("[" + latitudeList + "]");
								for (let r=0; r<listLength; r++){								
									finalHTML = ""+{{sType.longitude}}+","+{{sType.latitude}}+""
									popup = new mapboxgl.Popup({ offset: 25 })
									.setHTML(finalHTML);
									marker = new mapboxgl.Marker()
									.setLngLat([longArray[r],latArray[r]])
									.setPopup(popup)
									.addTo(map);
								}
							</script>	
						</div>
					</td>
				</tr>
			</thead>
		</table>
	</div>

	<!-- Row 2: data/charts selection (drop-down list) -->
	<div class="row mb-3">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
				$("#sType").on('change',function(){
					$(".display").hide();
					$("#" + $(this).val()).fadeIn(200);
				}).change();
			});
		</script>

		<select name="sType" id="sType">
			<option value="Live"> Live Data </option>
			<option value="Archive"> Past Data </option>
			<option value="Charts"> Data Charts </option>
		</select>
	</div>
</div>


<!-- Container 2: Data or Charts --> 

<!-- Part 1: Live Data --> 
<div class="container my-3 display" id="Live">

	<!-- div 1: table for weather and its icon -->
	<div class="row table-responsive">
		<caption style="text-align:center; color: black;"> <h1> Current Weather </h1></caption>
		<!-- centring the table horizontally -->
		<table class="mx-auto w-auto"> 
			<tr style="text-align: center;">
				<td rowspan="3"> {{currentWeather}} </td> 
				<td rowspan="3"><img src={{weatherImage}} alt="Logo" style="width:150px;"></td>
				<td width="250px"> Wind Speed: {{windSpeed}}kph </td>
				<td width="250px"> Precipitation:{{precipitation}}mm</td>
			</tr>
			<tr> 
				<td><p><i class="arrow angle"></i></p> </td>
			</tr>
			<tr> 
				<td>Wind Direction: {{windDirection}} </td>
			</tr>
		</table>
	</div>

	<!-- div 2: table for weather data -->
	<div class="row table-responsive">
		<table class="table table-striped table-bordered table-hover align-middle">
			<thead style="background-color: darkgreen; color: white;">
				<tr>
					<th> Timestamp </th>
					<th> P1 </th>
					<th> P2 </th>
				</tr>
			</thead>
			<tbody> 
				<tr style="text-align: center;">
					<td> {{liveTimestamp}} </td> 
					<td> {{liveP1}} </td>
					<td> {{liveP2}} </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- Part 2: past data -->
<div class="container my-3 display" id="Archive">

	<!-- tabs for historical data -->
	<div class="tab">
		<!-- tabs for past data of seven (7) days -->
		{% for date in historyRange %} 
		<button class="tablinks" onclick="openDate(event, '{{date.0}}')" id="defaultOpen">{{date.0}}</button>
		{% endfor %}
		<!-- tab for past data (average) -->
		<button class="tablinks" onclick="openDate(event, 'Past')">Past Data</button>
	</div>
	
	<br>

	<!-- past data (datail) when clicking the tabs for a specific date -->
	{% for x in historyRange %} 
	<div id='{{x.0}}' class="tabcontent">
		<caption style="text-align:center; color: black;"> <h1> Sensor Data Table </h1> </caption>
		<table class="table table-striped table-bordered table-hover align-middle">
			<thead style="background-color: darkgreen; color: white;">
				<tr>
					<th> Timestamp </th>
					<th> P1 </th>
					<th> P2 </th>
				</tr>
			</thead>
			<tbody> 
				{% for sensor in results %} 
				{% if sensor.timestamp.day == x.2 and sensor.timestamp.month == x.1 %}
				<tr style="text-align: center;">
					<td> {{ sensor.timestamp }} </td> 
					<td> {{ sensor.P1 }} </td>
					<td> {{ sensor.P2 }} </td>
				</tr>
				{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endfor %}

	<!-- past data (average) when clicking the tab "Past Data" -->
	<div id='Past' class="tabcontent">
		<caption style="text-align:center; color: black;"> <h1> Sensor Data Table </h1> </caption>
		<table class="table table-striped table-bordered table-hover align-middle">
			<thead style="background-color: darkgreen; color: white;">
				<tr>
					<th> Past Date </th>
					<th> Average P1 </th>
					<th> Average P2 </th>
				</tr>
			</thead>
			<tbody> 
				{% for sensor in results2 %} 
				<tr style="text-align: center;">
					<td> {{ sensor.pastDate.date }} </td> 
					<td> {{ sensor.dailyAverageP1 }} </td> 
					<td> {{ sensor.dailyAverageP2 }} </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<!-- when clicking the tabs -->
	<script>
		function openDate(evt, cityName) {
		var i, tabcontent, tablinks;
		tabcontent = document.getElementsByClassName("tabcontent");
		for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		}
		tablinks = document.getElementsByClassName("tablinks");
		for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		}
		document.getElementById(cityName).style.display = "block";
		evt.currentTarget.className += " active";
		}

		// Get the element with id="defaultOpen" and click on it
		document.getElementById("defaultOpen").click();
	</script>

	<!-- tabs for historical data, if there is too much data, no need to go back to the top -->
	<div class="tab">
		<!-- tabs for past data of seven (7) days -->
		{% for date in historyRange %} 
		<button class="tablinks" onclick="openDate(event, '{{date.0}}')" id="defaultOpen">{{date.0}}</button>
		{% endfor %}
		<!-- tab for past data (average) -->
		<button class="tablinks" onclick="openDate(event, 'Past')">Past Data</button>
	</div>
	<br>
</div>


<!-- Part 3: Charts -->

<!-- Chart 1: P1 and P2 -->
<div class="container my-3 display" id="Charts">
	<caption> <h1 style="text-align:center; color: black;"> P1 </h1> </caption>
	<canvas id="line-chart"></canvas>
	<caption> <h1 style="text-align:center; color: black;"> P2 </h1> </caption>
	<canvas id="line-chart2"></canvas>
</div>

<!-- for displaying charts -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script> 
<script>
	// Chart 1: P1 
	var config = {
		type: 'line',
		data: {
			datasets: [{
				data: {{ p1List|safe }},
				borderColor: 'red',
				backgroundColor: "rgba(0,0,0,0)",
				label: 'P1'
			}],
			labels: {{ labelList|safe }}
		},
		options: {
			scales: {
	    	  yAxes: [{
	    	    ticks:{
	    	      min : 0,
	    	      fontColor : "#000",
	    	      fontSize : 14
	    	    },
	    	    gridLines:{
	    	      color: "#000",
	    	      lineWidth:1,
	    	      zeroLineColor :"#000",
	    	      zeroLineWidth : 2
	    	    },
	    	  }],
	    	  xAxes: [{
	    	    ticks:{
	    	      fontColor : "#000",
	    	      fontSize : 14
	    	    },
	    	    gridLines:{
	    	      color: "#0001",
	    	    }
	    	  }]
	    	},
			responsive:true,
	    	chartArea: {
        		backgroundColor: 'rgba(255, 255, 255, 0.5)'
    		}
		}
	};

	// Chart 2: P2 
	var config2 = {
		type: 'line',
		data: {
			datasets: [{
				data: {{ p2List|safe }},
				borderColor: 'blue',
				backgroundColor: "rgba(0,0,0,0)",
				label: 'P2'
			}],
			labels: {{ labelList|safe }}
		},
		options: {
			scales: {
	    	  yAxes: [{
	    	    ticks:{
	    	      min : 0,
	    	      fontColor : "#000",
	    	      fontSize : 14
	    	    },
	    	    gridLines:{
	    	      color: "#000",
	    	      lineWidth:1,
	    	      zeroLineColor :"#000",
	    	      zeroLineWidth : 2
	    	    },
	    	  }],
	    	  xAxes: [{
	    	    ticks:{
	    	      fontColor : "#000",
	    	      fontSize : 14
	    	    },
	    	    gridLines:{
	    	      color: "#0001",
	    	    }
	    	  }]
	    	},
			responsive:true,
	    	chartArea: {
        		backgroundColor: 'rgba(255, 255, 255, 0.5)'
    		}
		}
	};

	Chart.pluginService.register({
        beforeDraw: function (chart, easing) {
            if (chart.config.options.chartArea && chart.config.options.chartArea.backgroundColor) {
                var ctx = chart.chart.ctx;
                var chartArea = chart.chartArea;
                ctx.save();
                ctx.fillStyle = chart.config.options.chartArea.backgroundColor;
                ctx.fillRect(chartArea.left, chartArea.top, chartArea.right - chartArea.left, chartArea.bottom - chartArea.top);
                ctx.restore();
            }
        }
    });

	window.onload = function() {
		var ctx = document.getElementById('line-chart').getContext('2d');
		window.myLine = new Chart(ctx, config);	
		var ctx = document.getElementById('line-chart2').getContext('2d');
		window.myLine = new Chart(ctx, config2);	
	};
</script>

{% endblock %}