<html>
<table width=100%>
<tr>
	<th ><a href="/">Home </a></th>
	<th><a href="/sensorListPage">Sensor List </a></th>
	<th><a href="/comparisons">Comparison </a></th>
</tr>
</table>
<head>
	<title>Sensor</title>
</head>
<body>
	<h1>Sensor Information</h1>
	<p>
		Here is where the info will go:
	</p>
	<table class="table table-striped" width=100%>
		<tr >
			<th> Timestamp </th>
			<th> P1 </th>
			<th> P2 </th>
			<th> Humidity </th>
			<th> Temperature </th>
		</tr>		
		{% for sensor in results %}
		<tr>
			<td>{{sensor.timestamp }}</td>
			<td>{{sensor.sensorID }}</td>
			<td>{{sensor.uniqueID }}</td>
			<td>{{sensor.humidity}}</td>
			<td>{{sensor.temperature}}</td>
		</tr>
		{% endfor %}
	</table>
    </p>
    
</body>
</html>