/* for displaying map */
.marker {
    background-image: url('mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.mapboxgl-popup {
    width: 200px;
    font: 16px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: black;
}

/* for all the web pages */
body{
    background-color:rgb(196, 250, 214);
    text-align: center;
}

/* for centering the map horizontally and vertically on the map page */
.center01 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

/* for logo on the base.html */
.logo{
    background-color: white;
    padding:10px;
}

/* for links in the navigation bar on base.html */
.links:hover, .links:active {
    background: rgba(224, 224, 224, 0.3); 
}

