/* for displaying map */
.marker {
    background-image: url('mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.mapboxgl-popup {
    width: 200px;
    font: 16px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: black;
}

body{
    background-color:rgb(180, 255, 205);
    /* background-image: linear-gradient(to bottom, green, rgb(174, 247, 78)); */
    text-align: center;
}

.center01 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* border: 5px solid #FFFF00; */
    padding: 10px;
}

.logo{
    background-color: white;
    padding:10px;
}

.links:hover, .links:active {
    background: rgba(224, 224, 224, 0.3);
    /* color: rgb(218, 248, 218); */
}